html, body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-family: Calibri;
	color: #666;
}
#outter{
	position: relative;
	width: 750px;
	margin: 10px auto;
}
#wrap {
	position: relative;
	float: left;
	/*border: 1px solid #ccc;*/
	/*border-radius: 3px;*/
	width: 50%;
	/*padding: 75px;	*/
	/*background-color: white;*/
}
.intro {
	text-align: center;
}
.intro h1 {
	font-size: 36px;
}
.intro h2 {

}
.clearfix{clear: both;}
#how-to {
	/*padding: 75px 0;*/
	text-transform: lowercase;
	text-align: center;
	float: left;
	width: 50%;
	margin-top: 15px;
}
#how-to h1 {
	text-align: center;
}
#how-to p {
	font-size: 18px;
}
.gamewrap {
	background: white;
	padding: 25px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.restart-btn {
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 7px 15px;
	background-color: white;
	color: red;
	cursor: pointer;
	text-decoration: none;
}
.restart-btn:hover {
	box-shadow: 0px 0px 2px 0px #aaa;
	background: #ccc;
	color: royalblue;
}
.inner {
	background-color: darkgray;
	width: 300px;
	height: 300px;
	position: relative;
}
.solved,
.shade,
.move {
	display: none;
}
.solved {
	position: absolute;
	width: 300px;
	height: 300px;
	background: url('images/solve.jpg');
	box-shadow: inset 0px 0px 0px 1px #333, inset 0px 0px 2px 2px grey;
	z-index: 99999;
}
.shade {
	position: absolute;
	width: 300px;
	height: 300px;
	z-index: 999999;
	background-color: black;
	opacity: .2;
}
.move {
	position: absolute;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 7px 15px;
	background-color: white;
	color: lightblue;
	font-weight: bold;		
	top: 135px;
	left: 100px;
	z-index: 9999999;
}
.slide {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: orange;
	box-shadow: inset 0px 0px 0px 1px #333, inset 0px 0px 2px 2px grey;
	z-index: 111;
}
.slide:nth-child(1) { background: url('images/1.jpg'); 
	top: 0px;
	margin-left: 0;
}
.slide:nth-child(2) { background: url('images/2.jpg'); 
	top: 0px;
	margin-left: 100px;
}
.slide:nth-child(3) { background: url('images/3.jpg'); 
	top: 0px;
	margin-left: 200px;
}
.slide:nth-child(4) { background: url('images/4.jpg'); 
	top: 100px;
	margin-left: 0;
}
.slide:nth-child(5) { background: url('images/5.jpg'); 
	top: 100px;
	margin-left: 100px;
}
.slide:nth-child(6) { background: url('images/6.jpg'); 
	top: 100px;
	margin-left: 200px;
}
.slide:nth-child(7) { background: url('images/7.jpg'); 
	top: 200px;
	margin-left: 0;
}
.slide:nth-child(8) { background: url('images/8.jpg'); 
	top: 200px;
	margin-left: 100px;
}

.source {
	font-size: 13px;
	text-align: center;
	color: #aaa;
}
.source a {
	color: #999;
}
.source a:hover {
	color: #666;
}